# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# vcpkg
packages/
vcpkg_installed/

# Visual Studio
.vs/
/JackCompiler/x64/
/JackCompiler/x64/Debug/JackCompiler.tlog/CL.read.1.tlog
/JackCompiler/x64/Debug/JackCompiler.tlog/CL.write.1.tlog
/JackCompiler/x64/Debug/JackCompiler.tlog/link-cvtres.read.1.tlog
/JackCompiler/x64/Debug/JackCompiler.tlog/link-cvtres.write.1.tlog
/JackCompiler/x64/Debug/JackCompiler.tlog/link-rc.read.1.tlog
/JackCompiler/x64/Debug/JackCompiler.tlog/link-rc.write.1.tlog
/JackCompiler/x64/Debug/JackCompiler.tlog/link.command.1.tlog
/JackCompiler/x64/Debug/JackCompiler.tlog/link.read.1.tlog
/JackCompiler/x64/Debug/JackCompiler.tlog/link.read.2.tlog
/JackCompiler/x64/Debug/JackCompiler.tlog/link.read.3.tlog
/JackCompiler/x64/Debug/JackCompiler.tlog/link.read.4.tlog
/JackCompiler/x64/Debug/JackCompiler.tlog/link.write.1.tlog
/JackCompiler/x64/Debug/JackCompiler.tlog/unsuccessfulbuild
/JackCompiler/x64/Debug/JackCompiler.log
